html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

.header,
.footer {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.body > #grid-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    width: 500px;
    min-height: 500px;
    min-height: 500px;
    outline: 5px solid black;
    margin-right: auto;
}

.body > .hidden {
    visibility: hidden;
    margin-left: auto;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-row > .grid-square {
    flex: 1;
}

#options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #DBDBDB;
    height: 300px;
    min-width: 200px;
    margin-right: auto;
    margin-left: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    width: 150px;
    height: 40px;
    background-color: white;
    font-family: sans-serif;
    font-weight:900;
    color: #2252CC;
}

.cursor-pointed {
    background: #CECCCC;
}

.selected {
    background-color: #2252CC;
    color: white;
}
